.loginWrapper {
  margin-top: 20px; /* Removed quotes */
  display: flex;
  justify-content: center;
}
.loginContainer {
  justify-content: center;
  height: 300px;
  width: 500px;
  border: 3px solid black; /* Added solid black border */
  padding: 20px; /* Added padding for inner item margin */
}
.inputRow {
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: Adds space between the label and input */
  margin-top: 10px; /* Added margin-top */
}
.loginButtonRow {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Added margin-top */
  gap: 10px;
}
